<%- include("top", {title}) %>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title"><%=employee.first_name %> <%=employee.last_name %></h5>
            <p class="card-text">Employee number: <%=employee.employee_number %></p>
            <p class="card-text">Role: <%=employee.role %></p>
            <p class="card-text">Address: <%=employee.address %></p>
            <p class="card-text">Salary: <%=employee.salary %></p>
            <a class="btn btn-danger" type="button" href="/edit?n=<%=employee.employee_number %>">Edit</a>
            <a class="btn btn-danger" type="button">Delete</a>
        </div>
    </div>

<%- include("bottom") %>