<%- include("top", {title}) %>

    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title"><%=employee.first_name %> <%=employee.last_name %></h5>
            <p class="card-text"><%=employee.employee_number %></p>
            <p class="card-text"><%=employee.role %></p>
            <p class="card-text"><%=employee.address %></p>
            <p class="card-text"><%=employee.salary %></p>
            <button class="btn btn-danger" type="button">Delete</button>
            <button class="btn btn-link" type="button">Edit</button>
        </div>
    </div>

<%- include("bottom") %>