<%- include("top", {title}) %>

<div class="row">

    <% employeeData.forEach((employee) => { %>

    <div class="col-md-6 col-xl-4 mb-2">
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title"><%=employee.first_name %> <%=employee.last_name %></h5>
                <p class="card-text">Employee number: <%=employee.employee_number %></p>
                <p class="card-text">Role: <%=employee.role %></p>
                <a class="btn btn-primary" type="button" href="/employee?n=<%=employee.employee_number %>">View</a>
                <a class="btn btn-danger" type="button" href="/edit?n=<%=employee.employee_number %>">Edit</a>
            </div>
        </div>
    </div>

    <%  }); %> 

</div>

<%- include("bottom") %>